
f milliseconds of each tick
tickTime=2000
# The number of ticks that the initial
# synchronization phase can take
initLimit=10
# The number of ticks that can pass between
# sending a request and getting an acknowledgement
syncLimit=5
# the directory where the snapshot is stored.
# do not use /tmp for storage, /tmp here is just
# example sakes.


# 这里要设置一下文件路径 路径必须存在,不存在的话就新建一个呗
dataDir=/tmp/zookeeper
# 日志路径 路径必须存在,不存在的话就新建一个呗
dataLogDir=/tmp/zookeeper/log
# the port at which the clients will connect
# 如果是多机器的话,在clientPort处添加服务器的ip
clientPort=2181 

#server.1=192.168.1.200:2888:3888
#server.2=192.168.1.200:2888:3888



# the maximum number of client connections.
# increase this if you need to handle more clients
#maxClientCnxns=60
#
# Be sure to read the maintenance section of the
# administrator guide before turning on autopurge.
#
# http://zookeeper.apache.org/doc/current/zookeeperAdmin.html#sc_maintenance
#
# The number of snapshots to retain in dataDir
#autopurge.snapRetainCount=3
# Purge task interval in hours
# Set to "0" to disable auto purge feature
#autopurge.purgeInterval=1


